%white-section {
	background-color: #fff;
	border-bottom: 1px solid #dcd9d9;
}

%grey-section {
	background-color: 	#f2f2f5;;
	border-bottom: 1px solid #dcd9d9;
}

%no-border-bottom {
	border-bottom: none;
}