%section {
	border-bottom: 1px solid $c-section-border;

	.wrapper {
		margin: 0 auto;
		max-width: $m-section-mw;
	}
}

%white-section {
	@extend %section;

	background-color: $c-white-section-bg;
}

%grey-section {
	@extend %white-section;

	background-color: $c-grey-section-bg
}

%no-border-bottom {
	border-bottom: none;
}