/*** Colors ***/
$c-h2: #374054;
$c-h2-border: #3498db;
$c-p: #74808a;
$c-link-hover: #3498db;
$c-a: #337ab7;
$c-a--hover: #23527c;

$c-stackoverflow: #f48024;
$c-github: #24292e;
$c-linkedin: #0077b5;

$c-section-border: #dcd9d9;
$c-white-section-bg: #fff;
$c-grey-section-bg: #f2f2f5;

/*** Fonts ***/
$ff-arial: Arial, "Helvetica Neue",Helvetica,sans-serif;
$ff-lato-thin: 'LatoWebThin', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
$ff-lato-semibold: 'LatoWebSemibold', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
$ff-lato-light: 'LatoWebLight', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
$ff-lato-black: 'LatoWebBlack', Arial, "Helvetica Neue",Helvetica, sans-serif;
$ff-lato-hairline: 'LatoWebHairline', Arial, "Helvetica Neue",Helvetica, sans-serif;
$ff-lato: 'LatoWeb', Arial, "Helvetica Neue",Helvetica, sans-serif;
$ff-calibri: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

/*** Measures ***/
$m-basic-padding: 15px;
$m-basic-fsz: 1.6rem;

$m-main-h1-size-desktop: (60 / 21) * 1em;
$m-main-h2-size-desktop: (32 / 21) * 1em;

$m-section-mw: 900px;
$m-section-mw--experience: 1000px;