//- Elements
//- include ../tools/
//- include ../components/

include main/index
include about/index
include experience/index
include education/index
include projects/index
include skills/index
include contact/index
include footer/index