//- DATING
//- - var mtsrb = {};
//- - mtsrb.name = 'Dating services for <strong>MTS RB</strong>, <strong>Life:) RB</strong>, <strong>Velcom (Vmeste!)</strong>';
//- - mtsrb.image = null;
//- - mtsrb.description = [];
//- - mtsrb.description.push('<strong>SPA for mobile operators.</strong>');
//- - mtsrb.description.push('As part of the developers team for that list of projects I\'ve prepared the code base using <strong>Pug</strong>, <strong>Scss</strong>, <strong>AngularJS</strong> and task manager <strong>Gulp</strong>, that has built it all together. The prepaired code base could be scaled for different operators using their own styleguides, requires and features.');
//- - mtsrb.description.push('MTS RB has already been changed to another concept.');
//- - mtsrb.link = [];
//- - mtsrb.link.push({href: 'http://dating.life.com.by/lifeapp/', title: 'View Life:) RB'});
//- - mtsrb.link.push({href: 'http://dating.mts.by/mtsrbapp/', title: 'View MTS RB'});
//- - mtsrb.link.push({href: 'http://vmeste.velcom.by/velcomapp/', title: 'View Velcom RB'});
//- - mtsrb.techstack = ['Pug', 'Scss', 'JavaScript', 'AngularJS', 'Babel', 'Gulp', 'Browserify', 'SMACSS', 'npm', 'NodeJS'];
//- MUSIC TELE2
//- - var tele2 = {};
//- - tele2.name = 'Music service for <strong>TELE2 KZ</strong>';
//- - tele2.image = null;
//- - tele2.description = [];
//- - tele2.description.push('<strong>SPA for mobile operator.</strong>');
//- - tele2.description.push('As part of the developers team for that project I\'ve prepared the code base using <strong>Pug</strong>, <strong>Scss</strong>, <strong>AngularJS</strong> and task manager <strong>Gulp</strong>, that has built it all together.');
//- - tele2.link = [];
//- - tele2.link.push({href: 'http://muz.tele2.kz/app/'});
//- - tele2.techstack = ['Pug', 'Scss', 'JavaScript', 'AngularJS', 'Gulp'];
//- SKIDKA
//- - var mts = {};
//- - mts.name = 'Discount service for MTS';
//- - mts.image = null;
//- - mts.description = [];
//- - mts.description.push('As part of the developers team for that project I\'ve prepared responsive layouts using Pug and Scss, made coding with AngularJS for frontend part of the site.');
//- - mts.link = [];
//- - mts.link.push({href: 'http://skidka.mts.ru/'});
//- - mts.techstack = ['Pug', 'Scss', 'JavaScript', 'AngularJS', 'Babel', 'Gulp', 'Browserify', 'SMACSS'];
//- DEREVO
//- - var derevo = {};
//- - derevo.name = 'Social Network "Rodovoe Derevo"';
//- - derevo.image = null;
//- - derevo.description = [];
//- - derevo.description.push('As part of the developers team for that project I\'ve prepared web layouts using HTML and CSS, integrated html layouts with PHP backend.');
//- - derevo.link = [];
//- - derevo.link.push({href: 'http://rodovoederevo.ru/'});
//- - derevo.techstack = ['HTML', 'Css', 'jQuery'];
//- VARIANT
//- - var variant = {};
//- - variant.name = 'Landing page for HR Agency "Variant"';
//- - variant.image = 'asdsad';
//- - variant.description = [];
//- - variant.description.push('For that project I\'ve prepared responsive layouts using Pug and Scss, made coding with vanilla <strong>JavaScript (ES2015)</strong>.');
//- - variant.link = [];
//- - variant.link.push({href: 'http://variant-hr.ru/'});
//- - variant.techstack = ['Pug', 'Scss', 'JavaScript', 'Gulp', 'Babel', 'SMACSS'];
//- ZNAK
//- - var znak = {};
//- - znak.name = 'Pages for "Znak Kachestva"';
//- - znak.image = null;
//- - znak.description = [];
//- - znak.description.push('For that project I\'ve prepared layouts using Pug and Scss, made some coding for interactive parts using jQuery.');
//- - znak.link = [];
//- - znak.link.push({href: 'http://znakachestva.ru/'});
//- - znak.techstack = ['Pug', 'Scss', 'jQuery', 'Gulp'];
//- OPEN-AIR SALE
//- - var openair = {};
//- - openair.name = 'Promo pages for "Open Air Sale"';
//- - openair.image = null;
//- - openair.description = [];
//- - openair.description.push('For that project I\'ve prepared layouts using Pug and Scss, made some coding for interactive parts using jQuery.');
//- - openair.link = [];
//- - openair.link.push({href: 'http://www.spletnik.ru/vremenagoda'});
//- - openair.techstack = ['Pug', 'Scss', 'jQuery', 'Gulp', 'Babel', 'SMACSS'];
//- Boilerplate
- var gbp = {};
- gbp.name = 'Generator Basic Page';
- gbp.image = 'images/projects/robotocat.png';
- gbp.description = [];
- gbp.description.push('The boilerplate project to create web pages with Pug, Scss and JS and task manager Gulp.');
- gbp.link = [];
- gbp.link.push({href: 'https://github.com/chekit/generator-basic-page'});
- gbp.techstack = ['Pug', 'Scss', 'JavaScript', 'Gulp', 'Babel', 'SMACSS'];
//- Boilerplate
- var sfjs = {};
- sfjs.name = 'split-file-js';
- sfjs.image = 'https://raw.githubusercontent.com/chekit/split-file-js/master/scissors.png';
- sfjs.description = [];
- sfjs.description.push('Small script that I\'ve created for project where we needed to split whole html pages into small chunks');
- sfjs.link = [];
- sfjs.link.push({href: 'https://github.com/chekit/split-file-js'});
- sfjs.techstack = ['JavaScript', 'NodeJS', 'Npm'];

//- PAGE
section#projects
	.wrapper
		.heading
			h2 My Projects
		.body
			p.align-center
				strong Some of my own projects and libraries.
			+project([gbp, sfjs])