@import 'latofonts';

html, body {
	width: 100%;
	min-height: 100%;
}

html {
	font: normal .625em/1.5 $ff-arial;
}

body {
	margin: 0 auto;
}

section,
footer {
	padding: ($m-basic-padding * 3) $m-basic-padding;
}

h2 {
	color: $c-h2;
	line-height: 1.3;
}

h2, h3, h4 {
	font-family: $ff-lato-light;
}

p {
	color: $c-p;
	font-family: $ff-lato;
	font-size: $m-basic-fsz;
	line-height: 1.5;
}