@use './../tools/variables';

.heading {
	position: relative;

	h2 {
		position: relative;
		font-size: 3.2rem;
		font-weight: 100;
		text-align: center;
		margin: 0 0 (variables.$m-basic-padding * 3);

		&:after {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			margin: 0 auto;
			height: 1px;
			width: 50px;
			background-color: variables.$c-h2-border;
			content: '';
		}
	}
}