@use './../tools/variables';

#intro {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    background: rgba(3, 108, 160, 0.72) url('/images/hero_image.png') 50% 50% no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 2.1rem;
}

// Source: https: //wojtek.im/journal/targeting-safari-with-css-media-query
@supports (hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none) {
    #intro {
        background-attachment: initial;
    }
}

.info {
    position: relative;
    width: 100%;
    margin: 0 0 5em;
    padding: variables.$m-main-h1-size-desktop 0;
    background-color: rgba(255, 255, 255, .35);
    text-align: center;
    font-size: 1em;


    @media screen and (max-width: 780px) {
        margin-bottom: 2em;
        padding: variables.$m-main-h1-size-mobile 0;
    }

    &__name {
        margin: 0 0 .3em;
        line-height: 1;
        font-size: variables.$m-main-h1-size-desktop;
        font-weight: 800;
        font-family: variables.$ff-lato-black;
        text-transform: uppercase;
        color: #052c48;
        text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
    }

    &__position {
        margin: 0;
        line-height: 1;
        font-size: variables.$m-main-h2-size-desktop;
        font-family: variables.$ff-lato-semibold;
        color: #004060;
        text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2);
    }
}

.download {
    position: relative;
    display: flex;
    flex-direction: column;

    &__text {
        font-size: 1.8rem;
        margin-bottom: .5em;
        text-align: center;
        color: white;
    }

    &__links {
        margin: 0;
    }

    &__button {
        margin: 0 5px;
        min-width: 40px;
        line-height: 1em;
        text-align: center;
    }
}