#about {
	@extend %white-section;	

	.wrapper {
		display: flex;
		align-items: center; 
		justify-content: space-around;

		max-width: 1170px;
	}

	.heading {
		align-self: flex-start;
		margin-top: 1rem;
		width: 33%;
	}

	.body {
		width: 67%;
	}
}