#about {
	@extend %white-section;	

	overflow: hidden;
	min-height: 300px;	

	.wrapper {
		display: flex;
		align-items: center; 
		justify-content: space-around;

		max-width: 1170px;
	}

	.heading {
		align-self: flex-start;
		margin-top: 1rem;
		width: 33%;
	}

	.body {
		width: 67%;
	}

	.avatar {
		@media screen and (max-width: 780px) {
			display: none;
		}
	}
}