mixin job(positions = [])
	.timeline
		each position in positions
			.timeline__item.job
				.job__date
					p!= position.period 
				.job__icon
					i.fa.fa-map-marker-alt
				.job__description
					h3!= position.employer
					h4!= position.job
					p!= position.description        