extends ./base/tmpl

//- This block will be injected to basic tmpl
block content
	include layers/index

//- This block will be injected to basic tmpl
block scripts
	script(src="js/scripts.min.js", defer)