section#about
	.wrapper
		.heading
			h2 About me
			.avatar
				img.avatar__image(src="images/avatar.jpg")
		.body
			p.body__text
				| Hello, my name is Anton and I'm from Moscow, Russia. Currently I'm living in Amsterdam, Netherlands.
				| I'm passionate about <strong>frontend development</strong>. I have participate in many project as an employee and as a freelance developer.
			p.body__text
				| My current everyday stack is <strong>TypeScript</strong>, <strong>Angular</strong>, <strong>RxJS</strong> and related technologies,
				| also I'm keep on expand my knowledge with backend development with <strong>C#</strong>, <strong>ASP .NET MVC</strong>, <strong>NestJS</strong> etc.
				| Also I'm keen on programming basics such as an algorythms, patterns and data structures, project architectural basics (S.O.L.I.D.), basic of OOP etc.
