section#about
	.wrapper
		.heading
			h2 About me
			.avatar
				img.avatar__image(src="images/avatar.jpg")
		.body
			p.body__text
				| Hello, my name is Anton, and I live in Diemen, Netherlands.
				| I'm passionate about <strong>frontend development</strong>. I have worked on many projects both as an employee and as a freelance developer.

			p.body__text
				| My current everyday stack includes <strong>TypeScript</strong>, <strong>Angular</strong>, <strong>RxJS</strong>, and related technologies.
				| I also have experience with <strong>React.js</strong>, <strong>NestJS</strong>, and <strong>Node.js</strong>. Additionally, I’m exploring backend technologies and have experience with <strong>Kotlin</strong> and the <strong>Spring Boot framework</strong>.
				| I’m also enthusiastic about programming fundamentals such as algorithms, design patterns, data structures, project architecture principles (e.g., S.O.L.I.D.), and core object-oriented programming concepts.
