section#about
	.wrapper
		.heading 
			h2 About me
			.avatar
				img.avatar__image(src="images/avatar.jpg")
		.body
			p.body__text
				| Hello, my name is Anton and I'm from Moscow, Russia. I'm passionate about <strong>frontend development</strong>. I have participate in many project as an employee and as a freelance developer. 
			p.body__text
				| My current everyday stack is <strong>TypeScript</strong>, <strong>Angular</strong> and <strong>RxJS</strong>, 
				| also I'm keep on expand my knowledge with new HTML, JS and CSS features and other stuff 
				| (actually I'm using the preprocessors such as <strong>Pug</strong> and <strong>Scss</strong> cause they are really helpful with development and some routin and 
				| to handle this stuff I'm using task management systems <strong>Gulp</strong> and <strong>Webpack</strong>). 
				| Also I'm keen on programming basics as an algorythms, patterns and data structures cause it's really helpfull to get on with new technologies.
			p.body__text
				| My current goals are to start get into <strong>React + Redux</strong> world and to bee more confident with <strong>Node.js</strong> and other related things.
