section#about
	.wrapper
		.heading 
			h2 About me
			.avatar
				img.avatar__image(src="images/avatar.jpg")
		.body
			p.body__text
				| Hello, my name is Anton. I'm from Moscow, Russia (originally from Korolyov, Moscow Region, Russia) and I'm an HTML-coder, frontend developer. Currently I'm working at Inform-mobile company as an HTML-coder. I'm really passionate about frontend web-development and try to keep up-to-date with all new features and technologies.
				| You can overview my works at portfolio section to get full understanding of my knowledge and experience.
			p.body__text
				| ^^^ PROBABLY THIS IS THE OLD TEXT TO JUST CHECK HOW IT ALL FITS TOGETHER WITH AVATAR AND HEADING^^^