//- === Rabobank 2025 ===
- var rabobank = {}
- rabobank.period = 'September 2025';
- rabobank.employer = 'Rabobank';
- rabobank.job = 'Senior Front-End Developer';
- rabobank.description = 'Part of the <strong>Platform team</strong>. Focused on improving internal tooling, streamlining application delivery processes, and supporting engineering teams in building, deploying, and maintaining scalable applications.';
//- === Rabobank 2021-2025 ===
- var rabobank_1 = {}
- rabobank_1.period = 'November 2021 - September 2025';
- rabobank_1.employer = 'Rabobank';
- rabobank_1.job = 'Senior Front-End Developer';
- rabobank_1.description = 'Part of the <strong>Product team</strong>. Responsible for features that are related to the online communication channels. Participating in a cross team projects by helping to increase the delivery pace and code quality.';
//- === ZyLAB ===
- var zylab = {}
- zylab.period = 'October 2019 - November 2019';
- zylab.employer = 'ZyLAB Technologies B.V.';
- zylab.job = 'Software Developer';
- zylab.description = 'Part of <strong>R&D</strong> team. Working on frontend part of the new features for companies main project ZyLAB ONE. Supporting, refactoring and improving current code and features.';
//- === Solit ===
- var solit = {}
- solit.period = 'April 2017 - October 2019';
- solit.employer = 'Solit Clouds';
- solit.job = 'Software Developer';
- solit.description = 'Working on user interfaces for EMIAS (United Medical Information and Analytical System of Moscow).';
//- === Immo ===
- var immo = {}
- immo.period = 'April 2012 — April 2017';
- immo.employer = 'Inform-Mobile (IMMO)';
- immo.job = 'Frontend Developer / HTML-coder';
- immo.description = 'As a Frontend Developer / HTML-coder I was developing and coded projects for company partners such as MTS RB, MTS, Life:), TELE2, and also for own company projects';
//- - immo.projects = [];
//- //- DATING
//- - var dating = {};
//- - dating.name = 'Dating services for MTS RB,Life:) RB,Velcom (Vmeste!)';
//- - dating.description = [];
//- - dating.description.push('SPA for mobile operators.');
//- - dating.description.push('As part of the developers team for that list of projects I\'ve prepared the code base using <strong>Pug</strong>, <strong>Scss</strong>, <strong>AngularJS</strong> and task manager <strong>Gulp</strong>, that has built it all together. The prepaired code base could be scaled for different operators using their own styleguides, requires and features.');
//- - dating.techstack = ['Pug', 'Scss', 'JavaScript', 'AngularJS', 'Babel', 'Gulp', 'Browserify', 'SMACSS', 'npm', 'NodeJS'];
//- - immo.projects.push(dating);
//- //- MUSIC TELE2
//- - var tele2 = {};
//- - tele2.name = 'Music service for TELE2 KZ';
//- - tele2.description = [];
//- - tele2.description.push('SPA for mobile operator.');
//- - tele2.description.push('As part of the developers team for that project I\'ve prepared the code base using <strong>Pug</strong>, <strong>Scss</strong>, <strong>AngularJS</strong> and task manager <strong>Gulp</strong>, that has built it all together.');
//- - tele2.techstack = ['Pug', 'Scss', 'JavaScript', 'AngularJS', 'Gulp'];
//- - immo.projects.push(tele2);
//- //- SKIDKA
//- - var skidka = {};
//- - skidka.name = 'Discount service for MTS';
//- - skidka.description = [];
//- - skidka.description.push('As part of the developers team for that project I\'ve prepared responsive layouts using Pug and Scss, made coding with AngularJS for frontend part of the site.');
//- - skidka.techstack = ['Pug', 'Scss', 'JavaScript', 'AngularJS', 'Babel', 'Gulp', 'Browserify', 'SMACSS'];
//- - immo.projects.push(skidka);
//- //- DEREVO
//- - var derevo = {};
//- - derevo.name = 'Social Network "Rodovoe Derevo"';
//- - derevo.description = [];
//- - derevo.description.push('As part of the developers team for that project I\'ve prepared web layouts using HTML and CSS, integrated html layouts with PHP backend.');
//- - derevo.techstack = ['HTML', 'Css', 'Scss', 'JavaScript', 'jQuery'];
//- - immo.projects.push(derevo);
//- === Loftschool ===
- var loftschool = {}
- loftschool.period = 'July 2016 — February 2017';
- loftschool.employer = 'Loftschool';
- loftschool.job = 'Mentor';
- loftschool.description = 'Was mentoring the group of 10 attendance at JavaScript course';
//- === NBZ ===
- var nbz = {}
- nbz.period = 'March 2008 — April 2012';
- nbz.employer = 'NBZ Computers';
- nbz.job = 'Content-manager';
- nbz.description = 'Worked with the content for the company web site (articles, offers, banners, catalogue items, new sections), supporting internet advertising at search systems, helping with developing for the company projects and coding HTML emails';
//- - nbz.projects = [];
//- - var axiososft = {};
//- - axiososft.name = 'Web site for <a href="http://www.axiosoft.ru/">Axiosoft</a> software';
//- - axiososft.description = [];
//- - axiososft.description.push('Created design templates using Adobe Photoshop.')
//- - axiososft.description.push('Marked up pages using HTML, CSS and jQuery from PSD templates.')
//- - axiososft.description.push('Integrated all prepared pages with <a href="http://pagelime.com/">WebCMS PageLime</a> to make it easier edit and manage created project.')
//- - axiososft.techstack = ['HTML', 'CSS', 'JavaScript', 'JQuery'];
//- - nbz.projects.push(axiososft);
//- === Star Media ===
- var starmedia = {}
- starmedia.period = 'March 2007 — March 2008';
- starmedia.employer = 'StarMedia Russia';
- starmedia.job = 'System Administrator';
- starmedia.description = 'Was Supporting network, helping with software, configuring the new computers for companies employees';
//- === Freelance ===
- var freelance = {}
- freelance.period = '';
- freelance.employer = 'Freelance';
- freelance.job = 'Frontent Developer';
- freelance.description = 'Occasionally, I\'ve worked on projects as a freelancer. Most of these projects involved converting PSD designs into HTML and CSS, along with basic coding for animations, pop-ups, form validation, and handling data exchange with the server.';
- freelance.projects = [];
//- VARIANT
//- - var variant = {};
//- - variant.name = 'Landing page for <a href="http://variant-hr.ru/">HR Agency "Variant"</a>';
//- - variant.description = [];
//- - variant.description.push('For that project I\'ve prepared responsive layouts using Pug and Scss, made coding with vanilla <strong>JavaScript (ES2015)</strong>.');
//- - variant.techstack = ['Pug', 'Scss', 'JavaScript', 'Gulp', 'Babel', 'SMACSS'];
//- - freelance.projects.push(variant);
//- ZNAK
- var znak = {};
- znak.name = 'Pages for <a href="http://znakachestva.ru/">"Znak Kachestva"</a>';
- znak.image = null;
- znak.description = [];
- znak.description.push('For that project, I prepared layouts using Pug and SCSS, and implemented interactive features using jQuery.');
- znak.techstack = ['Pug', 'Scss', 'jQuery', 'Gulp'];
- freelance.projects.push(znak);
//- OPEN-AIR SALE
//- - var openair = {};
//- - openair.name = 'Promo pages for <a href="http://www.spletnik.ru/vremenagoda">"Open Air Sale"</a>';
//- - openair.description = [];
//- - openair.description.push('For that project, I prepared layouts using Pug and SCSS, and implemented interactive features using jQuery.');
//- - openair.techstack = ['Pug', 'Scss', 'jQuery', 'Gulp', 'Babel', 'SMACSS'];
//- - freelance.projects.push(openair);

section#experience
	.wrapper
		.heading
			h2 Experience
		.body
			+job([rabobank, rabobank_1, zylab, solit, immo, loftschool, nbz, starmedia, freelance])
