//- MIEM
- var miem = {};
- miem.title = 'Moscow Institute of Electronics and Mathematics, MIEM (Technical university)';
- miem.period = 'Sept 2003 - Sept 2008';
- miem.speciality = 'System Engineer (Specialist Diploma)';
- miem.description = 'Russian higher educational institution in the field of electronics, computer engineering, and applied mathematics. Founded in 1962 as Moscow Institute of Electronic Machine Building (Russian: Московский институт электронного машиностроения), in 2011 joined with National Research University Higher School of Economics.';
- miem.link = 'https://miem.hse.ru/';
//- Yandex
- var yandex = {};
- yandex.title = 'ShRI (School of Interface Development by Yandex)';
- yandex.period = 'July 2017 - Sept 2017';
- yandex.description = 'The school is part of Mobilisation project by Yandex that helds designers, managers, mobile developers and frontend developers. I was took a part only in the first round of school and quit of the second round by my own reasons';
- yandex.link = 'https://miem.hse.ru/';
//- LoftSchool
- var loftschool = {};
- loftschool.title = 'The complex education of web-development';
- loftschool.period = 'Oct 2014 - Jan 2017';
- loftschool.description = 'Online course for developers and coders by Loftschool';

section#education
	.wrapper
		.heading
			h2 Education
		.body
			+education-block([miem, yandex, loftschool])