section#intro
	.info
		h1.info__name Anton Cherepov
		h2.info__position Frontend Developer
	.download
		a.btn-rounded-dark-blue.download__button(href="/files/cv_cherepov_aa_ru.pdf") Download Resume (rus)
		a.btn-rounded-dark-blue.download__button(href="/files/cv_cherepov_aa_en.pdf") Download Resume (en)
	.btn-down#next(data-scrollto="about")
		span
			i.fa.fa-chevron-down(aria-hidden="true")
