section#intro
	.info
		h1.info__name Anton Cherepov
		h2.info__position Frontend Developer
	a.btn-rounded-dark-blue(href="/files/cv_cherepov_aa.pdf") Download Resume (rus)
	.btn-down#next(data-scrollto="about")
		span
			i.fa.fa-chevron-down(aria-hidden="true")
