section#intro
	.info
		h1.info__name Anton Cherepov
		h2.info__position Lead Frontend Developer
	a.btn-rounded-dark-blue(href="#") Download Resume
	.btn-down#next(data-srollto="about")
		span
			i.fa.fa-chevron-down(aria-hidden="true")