section#intro
	.info
		h1.info__name Anton Cherepov
		h2.info__position Software Developer
	.download
		p.download__text Download my CV:<br />
			a.btn-rounded-dark-blue.download__button(href="/files/cv_cherepov_aa_ru.pdf") RUS
			a.btn-rounded-dark-blue.download__button(href="/files/cv_cherepov_aa_en.pdf") EN
	.btn-down#next(data-scrollto="about")
		span
			i.fa.fa-chevron-down(aria-hidden="true")
