section#skills
	.wrapper
		.heading
			h2 Skills
		.body
			ul.tag-list
				li.tag-list__item.tag.is-advanced JavaScript
				li.tag-list__item.tag.is-advanced TypeScript
				li.tag-list__item.tag.is-advanced HTML
				li.tag-list__item.tag.is-advanced Pug
				li.tag-list__item.tag.is-advanced AWD / RWD
				li.tag-list__item.tag.is-advanced CSS
				li.tag-list__item.tag.is-advanced Scss
				li.tag-list__item.tag.is-advanced BEM
				li.tag-list__item.tag.is-advanced Angular
				li.tag-list__item.tag.is-advanced npm
				li.tag-list__item.tag.is-advanced git
				li.tag-list__item.tag.is-advanced Gulp
				li.tag-list__item.tag.is-intermediate SMACSS
				li.tag-list__item.tag.is-intermediate AngularJS
				li.tag-list__item.tag.is-intermediate Webpack
				li.tag-list__item.tag.is-intermediate RxJS
				li.tag-list__item.tag.is-basic NgRx
				li.tag-list__item.tag.is-basic React
				li.tag-list__item.tag.is-basic Redux
				li.tag-list__item.tag.is-basic Mercurial