section#skills
	.wrapper
		.heading
			h2 Skills
		.body
			ul.tag-list
				li.tag-list__item.tag JavaScript
				li.tag-list__item.tag TypeScript
				li.tag-list__item.tag HTML
				li.tag-list__item.tag Pug
				li.tag-list__item.tag AWD / RWD
				li.tag-list__item.tag CSS
				li.tag-list__item.tag Scss
				li.tag-list__item.tag BEM
				li.tag-list__item.tag Angular
				li.tag-list__item.tag AngularJS
				li.tag-list__item.tag npm
				li.tag-list__item.tag git
				li.tag-list__item.tag Mercurial
				li.tag-list__item.tag Gulp
				li.tag-list__item.tag Webpack