@keyframes pulse-down {
	0% {
	  transform: translateY(0);
	}
  
	100% {
	  transform: translateY(3px);
	}
}

@keyframes pulse-up {
	0% {
	  transform: translateY(-3px);
	}
  
	100% {
	  transform: translateY(0);
	}
}

.btn-rounded-dark-blue {
	display: inline-block;
	color: white;
	padding: $m-basic-padding 25px;
	border: 3px solid white;
	border-radius: 30px;
	transition: .4s ease all;
	text-decoration: none;	
	outline: none;
	
	&:hover {
		color: #036ca0;
		background: #fff;
		text-decoration: none;
	}
}

.btn-down {
    position: absolute;
    left: 0;
    right: 0;
    bottom: $m-basic-padding;
		z-index: 10;
		width: 100%;
		font-size: 2.1rem;
    text-align: center;
    color: white;
	
	span {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		border: 3px solid white;
		text-align: center;
		cursor: pointer;
	}
	
	i {
		&:hover {
			animation: pulse-down 1.05s infinite reverse steps(8);
		}
	}
}

.btn-up {
	@extend .btn-down;

	position: static;

	span {
		border-color: #b9bfc4;

		i {
			color: #74808a;

			&:hover {
				animation: pulse-up 1.05s infinite reverse  steps(8);
			}
		}
	}
}

