.tag-list {
	display: flex;
	justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
	max-width: 800px;
	list-style-type: none;
	font-size: $m-basic-fsz;
}

.tag {
	display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: #374054;
    background: #e4e4ea;
    list-style: none;
    cursor: default;
    font-size: 1.2em;
    transition: all .15s ease-in-out;

    &:hover {
        transform: translateY(-2px);
    }
}

.is-advanced {}
.is-intermediate {}
.is-basic {}
